* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
}

aside.col-md-3 {
  padding: 0 !important;
}

#map {
  margin: 0;
  padding: 0;
}

#options-panel {
  margin: 0 0 2rem 0;
  padding: 0;
}

#itinerary {
  margin: 1rem 0 0 0;
  padding: 0;
}
.inner-itinerary {
  margin-bottom: 1rem;
}
